
body {
  font-family: 'Lato', sans-serif;
  background: #A0BAB1;
  font-size: 50px
}

h1 {
  font-size: 35px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.enter-command {
  padding: 1em;
  font-size: .3em;
  margin-left: 100px;
  width: 15em;
}
